.home-page {
    padding: 50px 0;

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
    }

    .addNewCar {
        background: #3f51b5;
        color: #fff;
        right: 0;
        margin-bottom: 12px;

        &:hover {
            background: #3f51b5;
            opacity: 0.9;
        }
    }

    .add-car-dialog {
        min-width: 400px;
        width: 100%;
    }
}

.picker-panel {
    z-index: 10;
}

.add-car-dialog {
    .picker-panel {
        z-index: 10;
        left: 0px !important;
        top: 24px !important;
    }
}
.year-label {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}

.filter {
    display: flex;
    max-height: 36px;
    width: 230px;
    justify-content: space-between;
    align-items: center;

    .year-picker {
        height: 100%;
    }
}

.custom-year-picker {
    position: relative;
    height: 36px;
    .cancel {
        position: absolute;
        top: -4px;
        right: -2px;
        color: rgba(0, 0, 0, 0.5);
    }

    &.year-active i,
    &.year-active:hover i {
        display: none;
    }
}
