.home-page {
    padding: 50px 0;

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .buttonContainer {
        text-align: right;
    }

    .addNewCar {
        background: #3f51b5;
        color: #fff;
        right: 0;
        margin-bottom: 12px;

        &:hover {
            background: #3f51b5;
            opacity: 0.9;
        }
    }

    .add-car-dialog {
        min-width: 400px;
        width: 100%;
    }
}
